li.track-list_item {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  box-sizing: border-box;
  display: flex;
  padding-right: 30px;
  cursor: pointer;
}

li.track-list_item.active {
  background-color: #fc4662;
  color: #fff;
}

.track-list_item .icon-play,
.track-list_item .icon-pause {
  height: 14px;
  width: 14px;
  padding: 13px 13px 12px 13px;
  cursor: pointer;
}

.track-list_item .icon-play {
  background-color: #e5e5e5;
}

.track-list_item .icon-pause {
  background-color: #E53E58;
}

.track-list_item .track-name {
  padding-left: 16px;
  flex: 1;
}

.track-list_item .item-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 2px;
}