<li
  class='track-list_item'
  ng-class="{'active': $ctrl.isActive}"
  ng-click='$ctrl.toggle()'
>
    <img
      ng-if='$ctrl.isActive'
      class='icon-pause'
      src='/icon/List-Pause.svg'
    ></img>
    <img
      ng-if='!$ctrl.isActive'
      class='icon-play'
      src='/icon/List-Play.svg'
    ></img>
    <span class='track-name' >{{$ctrl.item.name}}</span>
    <span>{{$ctrl.item.duration | humanizeDuration}}</span>
    <img src='/icon/Fav-Icon-Red.svg' ng-if='!$ctrl.isActive' class='item-icon' />
    <img src='/icon/Download-Icon-Red.svg' ng-if='!$ctrl.isActive' class='item-icon' />
    <img src='/icon/Fav-Icon-White.svg' ng-if='$ctrl.isActive' class='item-icon' />
    <img src='/icon/Download-Icon-White.svg' ng-if='$ctrl.isActive' class='item-icon' />
</li>