.active-track {
  height: 160px;
  padding: 20px 30px 20px 216px;
  border-bottom: 40px solid #f1f1f1;
  position: relative;
}

.active-track_cover {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 156px;
  height: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 24px 5px rgba(0,0,0,0.38);
}

.active-track_album {
  font-size: 28px;
  height: 32px;
}

.active-track_artist {
  font-size: 18px;
  margin-bottom: 26px;
  height: 22px;
}

.active-track_controls {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.active-track_controls > img {
  width: 36px;
  height: 36px;
  margin-right: 18px;
  cursor: pointer;
}

.active-track_controls > img:nth-child(3) {
  width: 50px;
  height: 50px;
}

.active-track_timeline {
  display: flex;
  width: 300px;
  align-items: center;
}

.active-track_timeline > span {
  font-size: 12px;
}

.active-track_timeline > span:first-child {
  margin-right: 6px;
}

.active-track_timeline > span:last-child {
  margin-left: 6px;
}

.active-track_sound {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 16px;
}

.active-track_sound > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 1px;
}

.active-track_sound > .custom-slider {
  width: 58px;
}

.active-track_close {
  position: absolute;
  top: 0;
  right: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}