<div class='active-track' >
  <img class='active-track_cover' />
  <div>
    <div class='active-track_album' >{{$ctrl.title}}</div>
    <div class='active-track_artist'>
      <span>{{$ctrl.track.name}}</span>
      -
      <strong>{{$ctrl.track.artist}}</strong>
    </div>
    <div class='active-track_controls'>
      <img src='/icon/Restart.svg' ng-click='$ctrl.restart()' />
      <img src='/icon/15-Back.svg'ng-click='$ctrl.back()' />

      <img
        ng-if='!$ctrl.isActive'
        src='/icon/Play.svg'
        ng-click='$ctrl.play($ctrl.track.id)'
      />
      <img
        ng-if='$ctrl.isActive'
        src='/icon/Pause.svg'
        ng-click='$ctrl.pause()'
      />

      <img src='/icon/15-Front.svg' ng-click='$ctrl.front()'/>
      <img src='/icon/Tempo.svg'/>
    </div>
    <div class='active-track_timeline' >
      <span>{{$ctrl.timelineSlider.value | humanizeDuration}}</span>
      <rzslider
        class='custom-slider'
        rz-slider-model='$ctrl.timelineSlider.value'
        rz-slider-options='$ctrl.timelineSlider.options'
      ></rzslider>
      <span>{{$ctrl.track.duration | humanizeDuration}}</span>
    </div>
  </div>
  <div class='active-track_sound' >
    <img src='/icon/Sound.svg' />
    <rzslider
      class='custom-slider'
      rz-slider-model='$ctrl.volumeSlider.value'
      rz-slider-options='$ctrl.volumeSlider.options'
    ></rzslider>
  </div>
  <img class='active-track_close' src='/icon/Close.svg' />
</div>