body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-slider.rzslider {
  margin: 7px 0;
}

.rz-pointer:focus {
  outline: none !important;
}

.custom-slider.rzslider .rz-bar {
  background: #adadad;
  height: 4px;
}
.custom-slider.rzslider .rz-selection {
  background: #FB4764;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 8px;
  top: -2px;
  background-color: #FB4764;
}

.custom-slider.rzslider .rz-pointer:after {
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  background-color: #E53E58;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: #FB4764;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #adadad;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: #FB4764;
}